services:
  signal-service:
    image: docker.io/ahmedatoasis/wt3-signal@sha256:5a9cf49735aeb71012ba3b0c358269a7a91109f6a677432a0563b7effbde2fc0
    platform: linux/amd64
    volumes:
      - /run/rofl-appd.sock:/run/rofl-appd.sock
      - /storage:/storage
    environment:
      - AGE_PRIVATE_KEY=${AGE_PRIVATE_KEY}
      - MOONWARD_API_KEY=${MOONWARD_API_KEY}
    restart: always

  wt3:
    image: docker.io/ahmedatoasis/wt3@sha256:e2c28f4c8a4a89ac09d1f3297c288d7aff08b3ff28d566049abf797e5e6d63c2
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    volumes:
      - /run/rofl-appd.sock:/run/rofl-appd.sock
      - /storage:/storage
    environment:
      - GROK_API_KEY=${GROK_API_KEY}
      - TWITTER_BEARER_TOKEN=${TWITTER_BEARER_TOKEN}
      - TWITTER_API_KEY=${TWITTER_API_KEY}
      - TWITTER_API_SECRET=${TWITTER_API_SECRET}
      - TWITTER_ACCESS_TOKEN=${TWITTER_ACCESS_TOKEN}
      - TWITTER_ACCESS_TOKEN_SECRET=${TWITTER_ACCESS_TOKEN_SECRET}
      - SIGNAL_SERVICE_URL=${SIGNAL_SERVICE_URL}
    depends_on:
      - signal-service
    restart: always
