services:
  signal-service:
    image: docker.io/ahmedatoasis/wt3-signal@sha256:38ed6d9e24afe6ea1412bfdf0ffd1758d0310dc460c68ded24f4ddfd597b95fd
    platform: linux/amd64
    volumes:
      - /run/rofl-appd.sock:/run/rofl-appd.sock
      - /storage:/storage
    environment:
      - AGE_PRIVATE_KEY=${AGE_PRIVATE_KEY}
      - MOONWARD_API_KEY=${MOONWARD_API_KEY}
    restart: always
    ports:
      - "8000:8000"

  wt3:
    image: docker.io/ahmedatoasis/wt3@sha256:9a5519e9f5a4992927b3d9c3a6221812d46517876ea3921e7f7c750c3d07580f
    build:
      context: .
      dockerfile: Dockerfile
    platform: linux/amd64
    volumes:
      - /run/rofl-appd.sock:/run/rofl-appd.sock
      - /storage:/storage
    environment:
      - GROK_API_KEY=${GROK_API_KEY}
      - TWITTER_BEARER_TOKEN=${TWITTER_BEARER_TOKEN}
      - TWITTER_API_KEY=${TWITTER_API_KEY}
      - TWITTER_API_SECRET=${TWITTER_API_SECRET}
      - TWITTER_ACCESS_TOKEN=${TWITTER_ACCESS_TOKEN}
      - TWITTER_ACCESS_TOKEN_SECRET=${TWITTER_ACCESS_TOKEN_SECRET}
      - SIGNAL_SERVICE_URL=${SIGNAL_SERVICE_URL}
    depends_on:
      - signal-service
    restart: always
